<h2>Stockists</h2>
	<% if current_user %>
		<% if current_user.is_admin? %>
		<%= link_to "Add New", new_stockist_path %>
		<% end %>
	<% end %>
<% @stockists.each do |stockist| %>
	<h3><%= stockist.name %></h3>
	<% if current_user %>
		<% if current_user.is_admin? %>
		<%= link_to "Edit", edit_stockist_path(stockist.id) %> | <%= link_to "Delete", stockist, method: :delete %>
		<% end %>
	<% end %>
	<p><%= link_to stockist.url, "http://#{stockist.url}", target: '_blank' %></p>
	<br>
<% end %>