<% if current_user %>
	<% if current_user.is_admin? %>
		<%= link_to "Users", users_path %>
	<% end %>
<% end %>

<%= link_to "Products", products_path %>

<nav>
	<ul>
		<li><%= link_to 'collection', collection_path %></li>
		<li><%= link_to 'about', about_path %></li>
		<li><%= link_to 'contact', contact_path %></li>
		<li><%= link_to 'stockists', stockists_path %></li>
		<li><%= link_to '#ootdcollection', 'http://www.instagram.com', target: '_blank' %></li>
	</ul>
</nav>