<%= render 'adminheader' %>

<div class="admin-container">
  <h2>Users</h2>
  <p><%= flash[:info] %></p>
  <button><%= link_to "Add New", {action: "new" }, method: :get %></button>
  <br>
  <br>

  <table class="table-minimal">
    <thead>
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Email</th>
        <th>Favorites</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.fullname, admin_user_path(user.id) %></td> 
          <td><%= user.company %></td>
          <td><%= mail_to user.email %></td>
          <td>
            <% user.favorites.each do |f| %>
              <%= f.product.style_num %>
            <% end %>
          </td>
          <td><button><%= link_to 'remove', { action: "destroy", id: user.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "delete_button"  %></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>