<div ng-controller="productController">
	<h2><%= @product.style %></h2>
	<% if current_user %>
		<% if current_user.is_admin? %>
			<p><%= link_to 'Edit', edit_product_path %> | <%= link_to 'Delete', @product, method: :delete %></p>		
		<% end %>
	<% end %>

	<% if @product.images.empty? == false %>
		<%= image_tag @product.images.first.source.medium %>
	<% end %>
	<p><%=  @product.category %></p>
	<p><%=  @product.style_num %></p>
	<p><%=  @product.color %></p>
	<p><%=  @product.description %></p>

	<img ng-src="{{productImages[imgNum].source.medium.url}}" alt="">


	<div  class="image-group">
		<img ng-repeat="image in productImages" ng-click="$parent.imgNum=$index" ng-src="{{image.source.small.url}}" alt="{{$index}}">
	</div>
	<%= link_to 'Back to Collection', collection_path %>

	<h3 ng-init="imgNum=0">Angular</h3>


</div>