<h2><%= @product.style %></h2>
<% if current_user %>
	<% if current_user.is_admin? %>
		<p><%= link_to 'Edit', edit_product_path %> | <%= link_to 'Delete', @product, method: :delete %></p>		
	<% end %>
<% end %>

<% if @product.images.empty? == false %>
	<%= image_tag @product.images.first.source.medium %>
<% end %>
<p><%=  @product.category %></p>
<p><%=  @product.style_num %></p>
<p><%=  @product.color %></p>
<p><%=  @product.description %></p>
<%= link_to 'All Products', products_path %>