<!DOCTYPE html>
<html ng-app="ootd">
	<head>
	  <title>OOTD Collection</title>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= favicon_link_tag 'favicon.ico' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<header>
			<%= render 'logo' %>

			<nav class="site-nav">
				<ul>
					<% if current_user %>
						<li><a ui-sref="products">products</a></li>
					<% else %>
						<li><a href="/login">products</a></li>
					<% end %>
					<li><a ui-sref="about">about</a></li>
					<li><a ui-sref="contact">contact</a></li>
					<li><a ui-sref="stockists">stockists</a></li>
					<li><a ui-sref="userfavorites"><i class="fa fa-heart-o red"></i></a></li>
					<li><a href="https://instagram.com/ootd.collection/" target="_blank">#ootdcollection</a></li>
				</ul>
			</nav>

			<div id="auth-links">
				<% if current_user %>
					<% if current_user.is_admin? %>
						<p><%= link_to "admin", admin_root_path %> | <%= link_to 'logout', logout_path %></p>
					<% else %>
						<%= current_user.email %> | <%= link_to 'logout', logout_path %>
					<% end %>
				<% else %>
					<%= link_to 'Login', login_path %>
				<% end %>
			</div>
		</header>

		<div id="main-container">
			<%= yield %>
		</div>

	</body>
</html>
